<div class="d-flex justify-content-center flex-nowrap">
<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  
  
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div class="form-group">
      <input class="form-control" name="post-title" type="text" value="{{post.title}}" />
      <span>({{format_url post.post_url}})</span>
    </div>
    <div>
      {{post.vote_count}} {{format_plural "point" post.vote_count}} by you on {{format_date post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button type="submit" class="btn btn-primary">Save post</button>
    <button type="button" class="btn btn-primary">Delete post</button>
  </form>
</article>
</div>

<div class="editpost-comment d-flex justify-content-center flex-nowrap">
<form>
  <div class="d-flex flex-wrap form-group">
    <textarea name="comment-body"></textarea>
  </div>

  <div class="form-group">
    <button class="btn btn-primary" type="submit">add comment</button>
  </div>
</form>

{{> comments post.comments}}
</div>
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>