<div class="container">
<div class="row align-items-start">
<ol class="post-list flex-column col">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>



{{#if searchResults}}
<ol class="scroll d-flex flex-wrap col">
  {{#each searchResults as |book| }}
    <li>
      <div>
        <h3>{{title}}</h3>
        <img src="{{thumbnail}}" alt="Book Cover Thumbnail"/>        
        <a href="{{link}}"  target="blank"><br><button class="btn btn-primary btn-sm" >CLICK FOR<br>MORE INFO</a></button>

        <ul>
          <li>{{authors}}</li>
          <li>{{publishedDate}}</li>
          <li>{{description}}</li>
          
        </ul>
      </div>
    </li>
  {{/each}}
</ol>
</div>
{{/if}}
</div>