<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>

{{#if searchResults}}
<ol>
  {{#each searchResults as |book| }}
    <li>
      <div>
        <img src="{{thumbnail}}" alt="Book Cover Thumbnail"/>        
        <h3>{{title}}</h3>
        <ul>
          <li>{{description}}</li>
          <li>{{authors}}</li>
          <li>{{publishedDate}}</li>
        </ul>
      </div>
    </li>
  {{/each}}
</ol>
{{/if}}